src/sensor dashboard/flows.json
[{"id":"454b9fc5.6e3a1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a0316fd7.eb2da","type":"file in","z":"454b9fc5.6e3a1","name":"","filename":"/home/pi/Desktop/test_data.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":300,"wires":[["1e19360e.1869da"]]},{"id":"b3ec887b.3efdb8","type":"inject","z":"454b9fc5.6e3a1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["2e0f4e0f.393f7a"]]},{"id":"55f83f31.096e2","type":"ui_text","z":"454b9fc5.6e3a1","group":"27334296.ce072e","order":2,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":80,"wires":[]},{"id":"1e19360e.1869da","type":"function","z":"454b9fc5.6e3a1","name":"","func":"msg.payload = msg.payload.replace(\"\\n\",\"\");\nmsg.payload = msg.payload.split(\",\");\nvar msg1 = {payload:msg.payload[0]+\" %\"};\nvar msg2 = {payload:msg.payload[1]+\" F\"};\nvar msg3 = {payload:msg.payload[2]+\" Lux\"};\nvar msg4 = {payload:msg.payload[3]+\" MPH\"}\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["55f83f31.096e2"],["b54e048d.d8f8a8"],["99fbb4e8.bd9e88"],["79e7acec.403974"]]},{"id":"2e0f4e0f.393f7a","type":"ui_button","z":"454b9fc5.6e3a1","name":"","group":"27334296.ce072e","order":6,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":340,"y":200,"wires":[["a0316fd7.eb2da","fa1bf9ee.c6f078"]]},{"id":"b54e048d.d8f8a8","type":"ui_text","z":"454b9fc5.6e3a1","group":"27334296.ce072e","order":3,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":160,"wires":[]},{"id":"99fbb4e8.bd9e88","type":"ui_text","z":"454b9fc5.6e3a1","group":"27334296.ce072e","order":4,"width":0,"height":0,"name":"","label":"Light Intensity:","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":260,"wires":[]},{"id":"79e7acec.403974","type":"ui_text","z":"454b9fc5.6e3a1","group":"27334296.ce072e","order":5,"width":0,"height":0,"name":"","label":"Wind Speed:","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":340,"wires":[]},{"id":"eaa52600.0a26c","type":"debug","z":"454b9fc5.6e3a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"abaf0305.7f63f","type":"debug","z":"454b9fc5.6e3a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"6bff5cdb.a14c84","type":"debug","z":"454b9fc5.6e3a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"3c313748.48ab7","type":"ui_text","z":"454b9fc5.6e3a1","group":"27334296.ce072e","order":1,"width":"6","height":"1","name":"","label":"Last refresh time:","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":40,"wires":[]},{"id":"fa1bf9ee.c6f078","type":"moment","z":"454b9fc5.6e3a1","name":"","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"llll","locale":"en-US","output":"payload","outputType":"msg","outTz":"America/New_York","x":380,"y":100,"wires":[["3c313748.48ab7"]]},{"id":"3f0b73fa.8ed85c","type":"debug","z":"454b9fc5.6e3a1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"27334296.ce072e","type":"ui_group","name":"sensor nodes","tab":"74b1c46c.813d8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"74b1c46c.813d8c","type":"ui_tab","name":"sensor","icon":"dashboard","disabled":false,"hidden":false}]